*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner{
  display: flex;
  gap: 6rem;
  margin: 5rem 0;
}

.banner .text{
  width: 496px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #394e6a;
}

.banner h1{
  font-size: 3.75rem;
  line-height: 1;
  letter-spacing: -.025em;
  max-width: 36rem;
  margin-top: 2rem;
  font-weight: 700;
  color: #394e6a;    
}

.banner p{
  letter-spacing: -.025em;
  font-size: 1.125rem;
  line-height: 2rem;
  max-width: 36rem;
}

.banner .btn{
  width: 137px;
  height: 48px;
  background-color: #057aff;
  color: #dbe1ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  flex-wrap: wrap;
  font-size: 14px;
}

.image{
  padding: 16px;
  background-color: hsl(217 92% 10% / 1);
  border-radius: 1rem;
}

.image img{
  width: 320px;
  height: 416px;
  border-radius: 1rem;
}

.carousel {
  width: 496px;
  height: 28rem;
  border-radius: 16px;
  padding: 16px 16px 16px 16px;
  background-color: hsl(217 92% 10% / 1);
  display: flex;
  overflow-x: scroll;
  font-feature-settings: normal;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  white-space: nowrap;
}

.carousel_item {
  margin-right: 16px;
}

.carousel_item:last-child {
  margin-right: 0;
}

.carousel_item img{
  width: 20rem;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.featured_products{
  margin-top: 6rem;
}

.featured_products h1{
  letter-spacing: .05em;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #394e6a;
  padding-bottom: 5px;
}
